<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WMCPA - Home</title>
  <link rel="shortcut icon" href="[[=URL('static', 'images/favicon.ico')]]" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="[[=URL('static', 'css/wmcpa.css')]]">
  <style>
    .py4web-validation-error {
      margin-top: -16px;
      font-size: 0.8em;
      color: red
    }
  </style>
  [[block page_head]]<!-- individual pages can customize header here -->[[end]]
</head>

<body>
  <section class="section">
    <nav class="navbar is-fixed-top with-background">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="[[=URL('index')]]">
            <span class="title">WMCPA</span>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="[[=URL('index')]]">
                <span class="icon">
                  <i class="fa fa-home"></i>
                </span>
                <span>Home</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="[[=URL('speakers')]]">
                <span class="icon">
                  <i class="fa-solid fa-person"></i>
                </span>
                <span>Speakers</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="[[=URL('rooms')]]">
                <span class="icon">
                  <i class="fa-solid fa-person-shelter"></i>
                </span>
                <span>Rooms</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="[[=URL('sessions')]]">
                <span class="icon">
                  <i class="fa fa-book"></i>
                </span>
                <span>Sessions</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </section>
  <div class="container">
    [[ include ]]
  </div>
  <script async type="text/javascript" src="[[=URL('static', 'js/bulma.js')]]"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.0/htmx.min.js"
    integrity="sha512-+w1WYSgxzYpQuYBFPKusU5/k7MHat9SA7OqeugUomdCCkOR9reE0pBgAPDoAxYR2dQx+1++3eu76Wt3E83bmNQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/inferno-hyperscript/5.0.1/inferno-hyperscript.min.js"
    integrity="sha512-0hh3zyevwnrkC/orS8nNX5dsRh7jvMGc+P3Ux9Nm1shbjq+DDwYXXPTJWD52rgtD8TtsnRXe4YrWkcw0l2ZvdQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>